<footer class="footer fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <a href="stap1.html"><button type="button" class="btnkort btnhuurmij">Huur mij</button></a>
            </div>
            <div class="col-4 d-flex justify-content-center">

            </div>
            <div class="col-4 d-flex justify-content-end">
                <p>info@aperobus.be<br>+32 495 61 75 02</p>
            </div>
        </div>
    </div>
</footer>