body {
    margin-bottom: 100px;
}

h1 {
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 26px;
}

h2 {
    color: $orange;
    font-family: $font-family-title;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 20px;
}

p {
    color: $blue;
    font-family: $font-family-text;
}

// buttons
.btnkort {
    color: $orange;
    border-top: none;
    border-right: none;
    border-bottom: solid;
    border-bottom-color: $blue;
    border-left: none;
    background: none;
    width: 100px;
    transition: width 2s;
    margin-bottom: 10px;
    &:hover{
        width: 150px;
        margin-left: 0px;
    }
    &.btnhuurmij {
        color: $blue;
    }
    &:active {
        width: 150px;
        margin-left: 0px;
    }
}

.btnlang {
    color: $orange;
    border-top: none;
    border-right: none;
    border-bottom: solid;
    border-bottom-color: $blue;
    border-left: none;
    background: none;
    width: 170px;
    transition: width 2s;
    margin-bottom: 10px;
    &:hover {
        width: 220px;
        margin-left: 0px;
    }
}

//balk
.balk {
    background-color: $blue;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

//stappen
.stapactief {
    background-color: $orange;
    height: 60px;
}
.stapinactief {
    background-color: $blue;
    height: 60px;
}

//map
iframe {
    width: 100%;
    margin-top: 35px;
}

//input
.kader {
    border-style: solid;
    border-color: $blue;
    border-radius: 0;
    border-width: 4px;
    margin-bottom: 10px;
}
.radio {
    border-radius: 5px;
}
input[type=radio] {
    background-color: $blue;
    cursor: pointer;
    height: 16px;
    width: 16px;
    outline: none;
    -webkit-appearance: none;
    &:checked {
      background-color: $orange;
    }
}
.form-control .kader {
    border-style: solid;
    border-color: $blue;
    border-radius: 0;
    border-width: 4px;
}

//img
.bus {
    width: 90%;
}
.oprichters {
    height: 230px;
}
.aperobusvb {
    height: 250px;
}
.img-oranje {
    margin-bottom: 20px;
}
.img-hover {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    &:hover {
        opacity: 0,3;
    }
}
.img-hover-midden {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    &:hover {
        opacity: 1;
    }
}
.img-hover-text {
    background-color:$blue;
    color: white;
    padding: 16px 32px;
}

//carousel
.carousel-inner {
    background-color: $blue;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.carousel-indicators .active {
    background-color: $orange;
}

//faq
.faqitem {
    color: $blue;
    &:hover {
        color: $orange;
        text-decoration-line: none;
    }
    &:focus {
        color: $orange;
    }
}

.socialmedia {
    width: 20%;
    height: 40%;
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .bus {
        width: 85%;
    }
    .oprichters {
        height: 300px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .bus {
        width: 80%;
    }
    .oprichters {
        height: 400px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .bus {
        width: 65%;
    }
    .oprichters {
        height: 500px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .bus {
        width: 65%;
    }
    .oprichters {
        height: 600px;
    }
}