.navbar {
    background-color: none;
}

.nav-item {
    background-color: none;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    text-align: center;
    margin-bottom: 15px;
}

.nav-link {
    text-transform: uppercase;
    color: $blue;
    &:hover {
        color: $orange;
    }
    &.active {
        color: $orange;
    }
}

.streep {
    background-color: $blue;
    height: 1px;
    width: 35px;
    border-bottom: solid 3px;
    margin-bottom: 8px;
    outline: none;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .nav-item {
        background-color: none;
        border-top: none;
        border-right: none;
        border-bottom: solid;
        border-bottom-color: $blue;
        border-left: none;
        width: 100px;
        text-align: center;
        &.active{
        border-bottom-color: $orange;
        }
        margin-right: 30px;
    }
    
    .nav-link {
        text-transform: uppercase;
        color: $blue;
        &:hover {
            color: $orange;
        }
        &.active {
            color: $orange;
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .nav-item {
        background-color: none;
        border-top: none;
        border-right: none;
        border-bottom: solid;
        border-bottom-color: $blue;
        border-left: none;
        width: 100px;
        text-align: center;
        &.active{
        border-bottom-color: $orange;
        }
        margin-right: 30px;
    }
    
    .nav-link {
        text-transform: uppercase;
        color: $blue;
        &:hover {
            color: $orange;
        }
        &.active {
            color: $orange;
        }
    }
}