<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}{% link assets/css/app.scss %}">
    <link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
</head>
<body>
<a name="top"></a>
{% include nav.html %}
{{ content }}
{% include footer.html %}
<a href="#top" class="pijl">
    <img src="assets/img/pijl.png" alt="pijl" height="15px">
</a>
{% include scripts-bottom.html %}
</body>
</html>